<!-- <div class="toolbar" role="banner">

    <span>Faculty Information System</span>
      <div class="spacer"></div>
      <button routerLink="/homepage" class="btn btn-success" >Logout</button>
   </div>
   
<h1 style="text-align:center; color: rgb(200, 51, 106);
text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue">
Welcome to Faculty Information System
</h1>
<br> <br> 
<div class="container add">              
    <a  href="faculty-add" class="add_faculty">Edit Personal Information</a> &nbsp; &nbsp;
   
  
   
    </div>

    <br><br>

<button class="button-53" role="button">
    Faculty Details </button>
<br> 
<app-faculty-view-all></app-faculty-view-all>
<br> <br> -->

<!-- <div class="toolbar" role="banner">

    <span>Faculty Information System</span>
    <div class="spacer"></div>
    <button routerLink="/app-faculty-view-all" class="btn btn-info">Faculty</button>
    </div> -->
    <!--Introduction of FIS-->
    <!-- <br><br>
    <h1 style="text-align:center; color: purple;
      text-shadow: 2px 2px 4px #000000;"> Welcome To Faculty Information System</h1>
    <table>
    <tr>
    <td style="padding:40px">
    <img src="../../../assets/fis1.jpg" alt="Girl in a jacket" width="600" height="500">
    </td>
    <td style="padding:40px">
    <p style="color:Black; font-size:30px;text-shadow: 1px 1px 2px #000000;">A software solutions that allow easy managing, 
    sharing, updating and accessing information regarding faculty members in a said institution.</p>
    <img src="../../../assets/pic2.jpg" alt="Girl in a jacket" width="300" height="300" style="margin-top:20px">
    </td>
    </table>
    <br><br> -->
    
    
          
           
          
    
        <br><br>
        <h1 style="text-align:center; color: purple;
          text-shadow: 2px 2px 4px #000000;"> Welcome To Faculty Information System</h1>
        <br><br>
        <table>
        <tr>
        <td style="padding:40px">
        <img src="../../../assets/fis1.jpg" alt="Girl in a jacket" width="600" height="500">
        </td>
        <td style="padding:40px">
        <p style="color:Black; font-size:30px;text-shadow: 1px 1px 2px #000000;">A software solutions that allow easy managing, 
        sharing, updating and accessing information regarding faculty members in a said institution.</p>
        <img src="../../../assets/pic2.jpg" alt="Girl in a jacket" width="300" height="300" style="margin-top:20px">
        </td>
        </table>
        <br><br>
    
   
    
    
    
    






 


                

     
