<div class="container">
    <table>
        <tr>
            <td>Department ID</td>
            <td>
                <input type="number" name="" id=""[(ngModel)]="item.deptId">
            </td>
        </tr>
    
        <tr>
            <td>Department Name</td>
            <td>
                <input type="text" name="" id=""[(ngModel)]="item.deptName">
            </td>
        </tr>
            

        <td colspan="1">
            <button on-click="Save()">Save</button>
        </td>
  
    </table>
    </div>

